header {
    font-family: Helvetica;
    
}

.card-title {
    color: blue;
    font-family: Helvetica;
    font-size: 1.2em;
}

.card-sub, .card-sub2 {
    color: red;
    font-size: 0.9em;
}

.card-title-d {
    font-family: Helvetica;
    font-size: 2em;
}

.numer-descrip {
    font-size: 1.2em;
}

#getReading {
    font-size: 1.2em;
    background-color:#FCBF49;
    border-radius: 10px;
}

#getReading:active {
    background-color: #F77F00;
}

.titular {
    color: #D62828;
    text-align: center;
    font-size: 4em;
}

p {
    color: #003049;
    text-align: center;
    font-family: Helvetica;
    
}

body {
    background-color: #F6F2DF;
}

.center-up {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sectHead {

}